<h1>Recent Blog Posts</h1>
{{#each blogs as |blog| }}
<div class="row blog">
    <h2>{{blog.title}}</h2><br>
    <p>{{blog.content}}</p><br>
    <h5>{{blog.user.username}}</h5><br>
</div><br>
{{/each}}