<h1>Recent Blog Posts</h1>
{{#each blogs as |blog| }}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{blog.title}}</h5>
    <h6 class="card-subtitle mb-8 text-muted">{{blog.user.username}}</h6>
    <p class="card-text">{{blog.content}}</p>
    <button class="card-link">Comment</button>
  </div>
</div>
{{/each}}