<div class="row">
    <h2>Please Sign In or Sign Up to have access to all the features of the site!</h2>
  <div class="col-6">
      <!-- Form for Signing in -->
    <h2>Already Have an account? Log In Here!</h2><br>
    <form class="form login-form">
      <div class="form-group">
        <label for="loginEmail">email:</label>
        <input class="form-input" type="text" id="loginEmail" />
      </div>
      <div class="form-group">
        <label for="loginPassword">password:</label>
        <input class="form-input" type="password" id="loginPassword" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-6">
      <!-- form for Signing Up-->
    <h2>Signup Now to Get Started!</h2><br>
    <form class="form signup-form">
      <div class="form-group">
        <label for="signUpName">name:</label>
        <input class="form-input" type="text" id="signUpName" />
      </div>
      <div class="form-group">
        <label for="signUpEmail">email:</label>
        <input class="form-input" type="text" id="signupEmail" />
      </div>
      <div class="form-group">
        <label for="signUpPassword">password:</label>
        <input class="form-input" type="password" id="signUpPassword" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>