
<h2>Log In or Sign Up to use the site!</h2><br>
<div class="row justify-space-around"><br>

    <div class="col-5 justify-space-around">
        <!-- Form for Signing in -->
        <h2>Log In Here!</h2><br>
        <form class="form login-form">
        <div class="form-group">
            <label for="loginEmail">email:</label><br>
            <input class="form-control" type="email" id="loginEmail" />
        </div>
        <div class="form-group">
            <label for="loginPassword">password:</label><br>
            <input class="form-control" type="password" id="loginPassword" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">login</button>
        </div>
        </form>
    </div>
    <div class="col-5 justify-space-around">
        <!-- form for Signing Up-->
        <h2>Signup Now!</h2><br>
        <form class="form signup-form">
        <div class="form-group">
            <label for="signUpName">name:</label><br>
            <input class="form-control" type="text" id="signUpName" />
        </div>
        <div class="form-group">
            <label for="signUpEmail">email:</label><br>
            <input class="form-control" type="text" id="signUpEmail" />
        </div>
        <div class="form-group">
            <label for="signUpPassword">password:</label><br>
            <input class="form-control" type="password" id="signUpPassword" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
        </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>